/* Nav */
.nav {
  background: $bg-white-color;
  padding: 0 2rem;
  min-height: 100%;
  overflow: hidden;
  .nav-menu {
    justify-content: space-between;
  }
  .nav-brand a {
    font-size: var(--banner-text-size);
    padding: 1rem 0;
    text-decoration: none;
    display: block;
  }
  .nav-items {
    display: flex;
    .nav-link {
      padding: 1.6rem 1rem;
      font-size: 1.1rem;
      position: relative;
    }
  }
  .social {
    padding: 1.4rem 0;
  }
  
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}