$max-width: 1200px;
$header-height: 5rem;
$footer-height: 8rem;

$bg-white-color: #fafafa;
$border-color: #ccc;
$text-color: #53575A;
$dark-color: #141618;

$breakpoints: (
  l: 960px,
  m: 750px
);

// Paleta de colores
:root {  
  --text-gray: #3f4954;
  --text-light-gray: #686666;
  --text-white: #fff;
  
  --border-white: #fff;
  
  --terra-cotta: #ed6a5a;
  --spring-bud: #f4f1bb;
  --opal: #9bc1bc;
  --alabaster: #e6ebe0;
  --blue-egg: #36c9c6;
  --midnight: #006d77;
  
  --near-moon: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}

// variables de capas ( z-index )
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

// varibles de typografia
:root {
  --h1-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --body-font-size: .9rem;
  --small-font-size: .75rem;
  --banner-text-size: 2.4rem;
  @include from(l) {
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.5rem;
    --body-font-size: 1rem;
    --small-font-size: .8rem;
    --banner-text-size: 1.6rem;
  }
}

//variables de font
:root {
  --Abel: 'Abel', cursive;
  --Anton: 'Anton', cursive;
  --Josefin: 'Josefin Sans', cursive;
  --Lexend: 'Lexend Deca', cursive;
  --Livvic: 'Livvic', cursive;
}
