@import "config/mixins";
@import "config/variables";
@import "base/base";
@import "layout/layout";
@import "theme/theme";
@import "components/header";
@import "components/nav";
@import "components/footer";

/* body color */
body {
  background: #f5f5f5;
}

/* bodylayout */
body {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: $header-height 1fr $footer-height;
}

header {
  grid-column: 1/ span 12;
}

footer {
  grid-column: 1/ span 12;
}
