//- foorter.pug
footer.footer
  .container
    .about-us(data-aos="fade-right" data-aos-delay="200")
      h2 About us
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .newsletter(data-aos="fade-right" data-aos-delay="200")
      h2 Newsletter
      p Stau update with out lastest
      .form-element
        input(type="text" placeholder="Email")
        span
          i.fas.fa-chevron-right
    .instagram(data-aos="fade-left" data-aos-delay="200")
      h2 Instagram
      .flex-row
        img(src="./src/images/instagram/thumb-card3.png" alt="insta1")
        img(src="./src/images/instagram/thumb-card4.png" alt="insta2")
        img(src="./src/images/instagram/thumb-card5.png" alt="insta3")
      .flex-row
        img(src="./src/images/instagram/thumb-card6.png" alt="insta4")
        img(src="./src/images/instagram/thumb-card7.png" alt="insta5")
        img(src="./src/images/instagram/thumb-card8.png" alt="insta6")
    .follow(data-aos="fade-left" data-aos-delay="200")
      h2 Follow us
      p Let us be social
      div
        i.fab.fa-facebook-f
        i.fab.fa-twitter
        i.fab.fa-instagram
        i.fab.fa-youtube
  .rights.flex-row
    h4.text-gray Copyright 2019 All rights reserved | made by Gabriel Carrasco, sin canal de youtube
      a(href="#" target="_blank") >mi canal
        i.fab.fa-youtube
  .move-up
    a(href="#top")
      span
        i.fas.fa-arrow-circle-up.fa-2x