//- variable global, de inserir en un file variables.pug
-var imageLogo = "https://ping.design/wp-content/uploads/2016/09/20160929-Free-Logos-12.jpg"

//- header.pug
header.main-header
  nav.nav
    .nav-menu.flex-row
      .nav-brand
        a.text-gray Blooger
      .toggle-collapse
        .toggle-icons
          i.fas.fa-bars
      .nav-links
        ul.nav-items
          li.nav-link
            a(href="#") Home
          li.nav-link
            a(href="#") Proyectos
          li.nav-link
            a(href="#") Sobre mi
      .social.text-gray
        a(href="") 
          i.fab.fa-facebook-f
        a(href="") 
          i.fab.fa-instagram
        a(href="") 
          i.fab.fa-twitter
        a(href="") 
          i.fab.fa-youtube