main
  section.site-title
    .site-background
      h3 Tours & Travles
      h1 Amazing Place on Earth
      button.btn Explore
      
  //- carousel
  section
    .blog
      .container
        //.owl-carousel.owl-theme
        .blog-post
          .blog-content
            img(src="./src/images/Blog-post/post-1.jpg" alt="post-1")
            .blog-title
              h3 London fashion week's continued the evolution
              button.btn.btn-blog Fashion
              span 2 minutes
          .blog-content
            img(src="./src/images/Blog-post/post-2.jpg" alt="post-2")
            .blog-title
              h3 London fashion week's continued the evolution
              button.btn.btn-blog Fashion
              span 2 minutes
          .blog-content
            img(src="./src/images/Blog-post/post-3.jpg" alt="post-3")
            .blog-title
              h3 London fashion week's continued the evolution
              button.btn.btn-blog Fashion
              span 2 minutes
          .blog-content
            img(src="./src/images/Blog-post/post-7.jpg" alt="post-4")
            .blog-title
              h3 London fashion week's continued the evolution
              button.btn.btn-blog Fashion
              span 2 minutes
          .blog-content
            img(src="./src/images/Blog-post/post-8.jpg" alt="post-5")
            .blog-title
              h3 London fashion week's continued the evolution
              button.btn.btn-blog Fashion
              span 2 minutes