// Aplico las reglas bases para los elementos html, como un reset

*,*::before,::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: var(--body-font-size);
}

a {
  text-decoration: none;
  color: inherit;;
}

img {
  max-width: 100%;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-size: var(--h1-font-size);
  font-family: var(--Lexend);
}

h2 {
  font-size: var(--h2-font-size);
  font-family: var(--Lexend);
}

h3 {
  font-size: var(--h3-font-size);
  font-family: var(--Abel);
}

button {
  border: none;
  cursor: pointer;
  border-radius: 2rem;
  padding: 1rem 3rem;
  background: var(--alabaster);
}

span {
  font-family: var(--Abel);
}

p {
  font-family: var(--Lexend);
  color: var(--text-light-gray);
}


